<!-- FOOTER -->

  <footer id="footer" >
    <div class="" style="position:relative; bottom:0;" >
      <a href="https://www.facebook.com/chinchinbairagi/" style="color:black;">
        <i class="social-icon fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/sip_or_puff/" style="color:black;">
        <i class="social-icon fab fa-instagram fa-2x"></i>
      </a>
      <a href="mailto:rvrajvishalqwer@gmail.com" style="color:black;">
        <i class="social-icon fas fa-envelope fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/vishal-kumar-rajak-644a101ba/" style="color:black;">
        <i class="social-icon fab fa-linkedin fa-2x"></i>
      </a>

      <p>© Copyright 2022 MANIT-FAQ</p>
    </div>
  </footer>
<!-- <div class="footer-new">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f fa-2x"></i>
    <i class="social-icon fab fa-twitter fa-2x"></i>
    <i class="social-icon fab fa-instagram fa-2x"></i>
    <i class="social-icon fas fa-envelope fa-2x"></i>
    <p>© Copyright 2021 MANITora</p>
  </div>

</div> -->


  </body>
</html>
